body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */

/* top bar */

.topbar{
    height: 30px;
    background-color: #064f88;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 173px;
    padding-right: 210px;
}

.cont1 ul{
    display: flex;
    list-style: none;
    padding: 11px;
}

.cont1 li a{
    color: white;
    text-decoration: none;
    padding-left: 8px;
    margin: 7px;
    font-size: 12px;
    transition: 0.3s;
}

.cont1 li a:hover{
    color: #ffe100;
}

.cont2 ul{
    display: flex;
    list-style: none;
}

.cont2 li a{
    color: white;
    text-decoration: none;
    padding-left: 8px;
    margin: 8px;
    font-size: 12px;
}

#select1{
    font-style: 9px;
    color: #8e8e8e;
    height: 20px;
}

.cont2 li a:hover{
    color: #ffe100;
}

/* second bar */

.navbar{
    height: 71px;
    background-color: #0c4a79;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 193px;
    padding-right: 210px;
}

.logo1{
    height: 45px;
    width: 225px;
}

.cont4{
    display: flex;
}

#searchbar{
    height: 34px;
    width: 260px;
    font-style: italic;
    padding-left: 6px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#cate1{
    width: 260px;
    background-color: #f9f9f9;
    border: none;
}

#search-icon{
    background-color: #ffe100;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

#cart1{
    color: white;
    font-size: 25px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* menu bar */
.menubar {
    background-color: #022e4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 145px;
    padding-right: 210px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    position: relative;
    padding: 0px 15px ;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.menu li a:hover {
    color: #ffcc00;
}

.dropdown:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}

.mega-menu {
    position: absolute;
    top: 100%;
    left: -68px;
    width: 1085px;
    background: white;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    flex-wrap: wrap;
    z-index: 1000;
}

.mega-menu .a{
    color: #002c4e;
    font-size: 13px;
    transition: transform 0.2s ease-in-out;
}

.mega-menu .a:hover{
    color: #002c4e;
    transform: scale(1.15);
}

.mega-column {
    flex: 1;
    min-width: 110px;
}

.mega-column a {
    display: block;
    color: #111314;
    text-decoration: none;
    padding: 7px 0;
    transition: 0.3s;
}

.menu li a i {
    margin-left: 5px;
}

.cont6 a {
    color: white;
    font-size: 18px;
}
.cont6 a:hover {
    color: #ffcc00;
    transition: 0.3s;
}

/* NAVBAR ENDS HERE */

/* slider */

.slider{
    width: 1120px;
    height: 400px;
    top: 3px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1120px;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 3.5%;
    width: 93%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 20px;
    height: 35px;
    border-radius: 20%;
    background-color: #002c4ed1;
    color: #ffffff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    border: 2px black;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border: 3px solid black;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.slider .dots li.active{
    width: 30px;
    border: 3px solid #022e4c;

}
@media screen and (max-width: 768px){
    .slider{
        height: 300px;
    }
}

/* slider ends here */

/* features */

.mainheading{
    height: 45px;
    display: flex;
    width: 74%;
    background-color: #e7e7e7;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 50px;
}

.mainheading h3{
    color: #49494a;
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* features ends here */











/* details */

.details{
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 13px;
    width: 74%;
    background-color: rgb(224, 236, 251);
    color: #34495e;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* details ends here */

/* FOOTER */

/* footer bar 1 */

.footerbar1{
    height: 82px;
    background-color: #002c4e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#flogo1{
    color: white;
    font-size: 30px;
}

.fcont2{
    display: flex;
    border-left: 3px solid #1476b2;
}

#flogo2{
    color: white;
    font-size: 30px;
    padding-left: 30px;
}

span{
    font-size: 18px;
    color: white;
    padding-left: 10px;
}

.fcont3{
    display: flex;
}

.fcont3 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 12px;
}

#fsearch{
    height: 34px;
    width: 260px;
    font-style: italic;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 10px;
}

#fbutton{
    height: 36px;
    background-color: #ffe100;
    width: 120px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    border: none;
}

/* footerbar 2 */

.footer{
    color: white;
    background-color: #064f88;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 90px;
    padding-left: 130px;
}

.footercontent{
    display: flex;
    justify-content: center;
}

.section{
    flex: 0.5;
    margin: 10px;
}

.section a{
    display: block;
    color: white;
    margin-top: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.section a:hover{
    color: #ffe100;
}

.footerlogo{
    height: 38px;
    width: 190px;
    padding-top: 15px;
}

#ficons{
    color: #ffe100;
    padding-right: 10px;
}

/* footerbar 3 */

.footerbar3{
    background-color: #0e5d9a;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fcont4 p{
    color: white;
    font-size: 12px;
}

.fimages{
    height: 32px;
    cursor: pointer;
}

/* FOOTER ENDS HERE */


/* ABOUT COMPUTER ZONE */
.aboutcontainer {
    width: 72%;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    color: #34495e;
}
.about{
    font-size: 26px;
    color: #34495e;
}
header{
    font-size: 20px;
    color: #34495e;
}
.pabout {
    font-size: 14px;
    line-height: 1.6;
    color: #34495e;
}
.section {
    margin-bottom: 20px;
}
.section li{
    font-size: 14px;
    list-style: none;
}
.highlight {
    line-height: 2;
    font-weight: 900;
    font-size: 14px;
    font-weight: bold;
    color: #34495e;
}

/* feedback */

.feedbackcontainer {
    width: 73%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    color: #34495e;
}

.feedbackcontainer p{
    font-size: 14px;
}

#feeds {
    width: 305px;
    margin-left: 5px;
    height: 0.5px;
    background-color: #002c4e;
}

#h3 {
    color: #34495e;
    font-size: 13px;
}

#h2{
    color: #34495e;
    font-size: 26px;
    font-weight: 100;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-details {
    width: 28%;
    line-height: 21px;
    height: 300px;
    padding: 15px;
    font-size: 14px;
    border: 0.1px solid #34495e;
    border-radius: 5px;
}

.label{
    margin-bottom: 5px;
}

.contact-details a {
    text-decoration: none;
    color: #34495e;
}

.contact-details p {
    line-height: 22px;
}

.contact-form {
    width: 63.6%;
    height: 585px;
    padding: 15px;
    border-radius: 5px;
    border: 0.1px solid #34495e;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group label {
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
    margin-right: 10px;
}

.form-group textarea {
    height: 100px;
}

#button {
    background-color: #243e63;
    width: 325px;
    height: 45px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover {
    background-color: #286294;
}

.map iframe {
    width: 100%;
    height: 370px;
    border-radius: 5px;
    margin-top: 20px;
}

/* feedback end */

/* faqs */

.faq-container {
    width: 70%;
    margin: auto;
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.faqs{
    color: #34495e;
}

.faq-container-heading{
    width: 70%; 
    margin: auto;
    padding-right: 40px;
}

.a{
    font-size: 14px;
}

.q{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 10px;
}

.b{
    font-size: 14px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.strong{
    color: #34495e;
}

.faq-question {
    width: 100%;
    text-align: left;
    color: #34495e;
    background: none;
    border: none;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question::after {
    content: "+";
    font-size: 20px;
}

.faq-question.active::after {
    content: "_";
}

.faq-answer {
    display: none;
    padding: 15px;
    font-size: 14px;
    color: #34495e;
}

.faq-answer p {
    margin-bottom: 10px;
    color: #34495e;
}

/* faqs end */

/* policies */


.policy-container {
    width: 70%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 70px;
}

.ph1{
    font-size: 26px;
    color: #34495e;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 20px;
}

.ph2 {
    font-size: 16px;
    font-weight: 600;
    color: #34495e;
    margin-bottom: 10px;

}

.ppara {
    font-size: 14px;
    font-weight: 600;
    color: #34495e;
    line-height: 1.5;
}



ol li {
    font-size: 14px;
    color: #34495e;
    margin-bottom: 10px;
    line-height: 1.4;
}

/* policies end */

/* create account */

.accountcontainer {
    display: flex;
    gap: 20px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 200px;
}

.form-box {
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(208, 208, 208);
}

.form-box1 {
    padding: 20px;
    width: 300px;
    height: 330px;
    border-radius: 5px;
    border: 1px solid rgb(208, 208, 208);
}

.accounth3 {
    font-size: 16px;
    color: #34495e;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px;
    color: #34495e;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 94%;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.checkbox input {
    margin-right: 5px;
}

.accountbtn {
    background-color: #223b5c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.accountbtn:hover {
    background-color: #1a2d47;
}

.facebook-btn {
    background-color: #3b5998;
    width: 100%;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.facebook-btn a{
    text-decoration: none;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.facebook-btn img {
    width: 20px;
    border-radius: 50%;
}

.or {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    font-weight: bold;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.options a {
    color: #007BFF;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* create account end */

/*  */



/*  */